/* body styles */

body {
    margin: 0;
    padding: 0;
    color: #484848;
    font: 14px Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* container styles */
.container {
    margin: 30px auto;
    max-width: 1000px;
}