/*
 * === Filters class style ===
 */

/* filter style */
.filters {
    background-color: #ffff;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Search button style */
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    float: right;
    margin: 12px 30px;
}

/* Search button hover opacity */
.filters button:hover {
    /* background-color: rgba(255, 90, 95, .9); */
    opacity: 90%;
}